@model LT.SO.Site.Models.Gerencial.Permissao.PermissaoViewModel

<div class="form-group">
    <div class="row">
        @Html.LabelFor(m => m.Valor): @Html.DisplayTextFor(m => m.Valor)
    </div>
    <div class="row">
        @Html.LabelFor(m => m.TipoNome): @Html.DisplayTextFor(m => m.TipoNome)
    </div>
</div>